.btn{
    width: 36PX;
    height: 36PX;
    font-size: 24PX;
    background: #00cccc;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30PX;
    position: fixed;
    bottom: 10PX;
    right: 10PX;
}